<!DOCTYPE html>
<html lang="en">

<title>Contact me</title>

<head>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Css/main.css') }}">
<style>
    .bgimg{
        background-image: url("{{ url_for('static',filename='Images/about.jpeg') }}");

        height: 500px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;


        text-align: center;
        padding-top: 16px;
    }
</style>

<body>



        <div class="topnav">
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('about') }}">About</a>
          <a href="{{ url_for('portfolioPost') }}">Portfolio</a>
          <a href="{{ url_for('blog') }}">Blog</a>
          <a class="active" href="{{ url_for('contactMe') }}">Contact</a>
        </div>

        <div class="bgimg">

            <div class="bgimgTxt">
                <p>Contact me</p>
            </div>
        </div>

        <br>

        <h1>
            LinkedIn: https://www.linkedin.com/in/evan-p-712249b2/
            <br>
            Email: emput1998@gmail.com
        </h1>

</body>
</html>